[2019-03-05 07:14] KamrulHasan-Seu opened #1 "Can't convert enumtype to Set<>"
I have an Enum Class name PlayerRole and when I binding this multiselectcombobox with a grid it shows "Bad return type in method reference cannot convert playerRole to set<>"

My code is:

binder.forField(playerRoleComboBox)
                .asRequired()
                .bind(Player::getPlayerRole,Player::setPlayerRole);

How can i bind this. Thanks in advance.

[2019-03-05 07:54] mvysny commented on #1
Perhaps the `Player.setPlayerRole()` only accepts `EnumSet<PlayerRole>` but the binding only provides `Set<PlayerRole>`. You can see the error message more clearly if you unwrap those method references into closures. If that's the case, either make `Player.setPlayerRole` accept `Set<PlayerRole>` or add a `Converter` to Binder that is able to convert `Set` to `EnumSet`.

[2019-03-05 09:25] KamrulHasan-Seu commented on #1
It,s working.Thanks a lot

[2019-03-05 09:25] #1 closed

[2019-03-05 10:51] pbaris opened #2 "Value of the field is lost when filtering"
When i use a ConfigurableFilterDataProvider and setFilter then the value of the field is lost.

[2019-03-06 08:31] gatanaso commented on #2
Hi @pbaris,

Thank you for reporting this issue.

Could you please provide more details, i.e. what are you trying to achieve, and what is the expected behavior? Ideally, adding a code snippet or a reproducible example would be very much appreciated.

BR

[2019-03-07 07:11] pbaris commented on #2
Having the code

[code]

when button is clicked the dataprovider filters the items and all items except `A` are available to select.
But combobox lose the value (selectedItems).

[2019-03-08 05:42] gatanaso commented on #2
Thank @pbaris for providing more details. From a first glance it looks like when a filter is set the data provider is updated and the component calls `reset()` which also clears the current value. I will need to investigate this behavior further.

[2019-03-14 17:31] gatanaso commented on #2
Hi @pbaris

I have investigated your sample further, and not clearing the value when a filter is set produces the following outcome:
![filter-combo-box](https://user-images.githubusercontent.com/15094658/54455060-8fb74d80-4763-11e9-95c2-670a5f493901.gif)

update: IMHO the above behavior is what would be expected from this component.

BR,
Goran

[2019-03-17 08:38] #2 closed

[2019-05-15 07:27] rolfsmeds opened #6 "Component doesn't align correctly in layout with baseline-alignment"
In a HorizontalLayout with `Alignment.BASELINE` (or in a flexbox with` align-items: baseline`), the MultiSelectComboBox is not rendered vertically in line with other Vaadin components like textfield and combobox.

To reproduce:
[code]

Baseline alignment is sometimes required instead of the default normal (i.e. stretch) alignment of HoriztonalLayout, to prevent taller elements from forcing all oth

[2019-05-15 08:13] Juchar opened #13 "Allow setting of custom ItemFilter<T>"
Using the vaadin standard combobox it is possible to pass in an `ItemFilter<T>` if setting the `DataProvider` by using
[code]
(see [API Documentation](https://vaadin.com/api/platform/13.0.7/com/vaadin/flow/component/combobox/ComboBox.html#setDataProvider-com.vaadin.flow.component.combobox.ComboBox.ItemFilter-com.vaadin.flow.data.provider.ListDataProvider-)).

It would be very useful to have this m

[2019-05-17 10:17] rolfsmeds commented on #6
Whoops, wrong repo, this should be in `multiselect-comb-box`, not `-flow`.

[2019-05-17 10:17] #6 closed

[2019-05-19 00:55] roomtek opened #7 "Support Async Loading of Items"
I am using setDataProvider().

but in my AbstractBackEndDataProvider, sizeInBackEnd() is never called, and so all items are loaded from the backend instead of "as needed" as defined in the javadoc

[2019-05-28 14:15] heruan commented on #7
I see this more a bug than an enhancement: it hangs the UI if the data source has many (e.g. thousands) of items, since it fetches all of them at once.

Calls to data provider should be filtered and limited, as in Vaadin's `ComboBox`.

[2019-05-29 15:49] KasparScherrer opened #14 "Feature: add setRenderer functionality like ComboBox and Select"
I would love to be able to define a ComponentRenderer (or any other Renderer) so I can show more than just a String as item label.
This will make the usage of MultiselectComboBox more similar to the actual ComboBox, as I always use a Renderer for those.  Being able to only show a String feels like a step backwards.

[2019-05-31 10:01] gatanaso commented on #7
Thank you for the feedback.

The reason why I have seen this as an enhancement is that providing this feature requires a bit more work in order to properly handle "lazy loading" as it's done in the Vaadin `ComboBox`. I agree that loading thousands of items will definitely block the UI and that does not provide a good user experience.

When I have more time I will try to investigate this further an

[2019-06-12 21:36] matteocona opened #9 "Multiselect is not displayed on IE11"
Hi Goran,
thank you very much for your help.

Multiselect is not displayed on Internet Explorer 11.
Multiselect version 1.0.0
Vaadin version 13.0.8

Simple project with a button, a combobox and a multiselect.

**MainView.java**
[code]
======================================================================

**pom.xml**
[code]

- I made a production build from Eclipse (mvn 'clean package -Dvaadin.pro

[2019-06-12 21:40] matteocona commented on #9
![multiselect_ticket_screenshot01](https://user-images.githubusercontent.com/51358983/59388192-6eb6c680-8d6b-11e9-8521-f92b56892bd4.png)

[2019-06-12 21:51] matteocona commented on #9
[multisproj.zip](https://github.com/gatanaso/multiselect-combo-box-flow/files/3283266/multisproj.zip)

[2019-06-14 10:10] gatanaso commented on #9
This issue is now fixed with the latest release of the `multiselect-combo-box`: https://github.com/gatanaso/multiselect-combo-box/releases/tag/v1.0.1

[2019-06-14 10:10] #9 closed

[2019-07-10 07:42] lonter0 opened #10 "Vaadin 14 - npm support"
Adding the component to a Vaadin 14 project, with the "new" npm packaging, the component is not displayed, only an empty tag is created:
![image](https://user-images.githubusercontent.com/52736140/60950160-e9d1b500-a2f6-11e9-87a2-e27c8a9c2f13.png)

[2019-07-11 05:57] gatanaso commented on #10
Hi @lonter0,

The current major version of this component works with V14 in [compatibility mode](https://vaadin.com/docs/v14/flow/v14-migration/v14-migration-guide.html#compatibility-mode).

To use the "new" npm packaging you need to use the `2.x.x` version of the component which is fully compatible with V14. The current release candidate version is `2.0.0.rc1` and you can update your dependency t

[2019-07-11 07:21] #10 closed

[2019-07-24 20:15] symVmueller opened #11 "Component does not work together with vaadin-combo-box-flow"
Issue:
When using multiselect-combo-box-flow in a project with vaadin-combo-box-flow apparently there is a problem whilst building the frontend with webpack. The Build is successful, but results in most of the used webcomponents throwing Errors.
For example:
- undefined connectors for various components (context menu, select, grid, ...)
- unsupported operation in vaadin-combo-box-item.js:178

Expe

[2019-07-29 08:16] gatanaso commented on #11
Hi @symVmueller

Thank you for reporting this issue. I will look into it and get back to you when I have more information.

BR

[2019-07-29 11:20] gatanaso commented on #11
Hi @symVmueller

I believe the issues were caused by conflicting dependencies that were being pulled in by the web component. I have updated the flow integration and published a new release candidate version compatible with Vaadin 14:
[code]

Please give it a try and let me know if there are any issues.

BR,
Goran

[2019-07-29 11:20] #11 closed

[2019-08-21 08:57] shand2 opened #12 "Missing check icon by using PopUp Window"
Hello Goran!

I am using your great component version 2.0.0.rc2 with vaadin 14. I works perfectly in view extending Vertical Layout in my project.

But using it in a Popup-Dialog the check symbol in the dropdown for selected items is missing. (see attachment) A normal ComboBox shows the check symbol in the dropdown for selected items.

Here the code:

public class ConditionDialog extends Dialog {

[2019-08-23 10:48] gatanaso commented on #12
Hi @shand2

Thank you for opening this issue. It might as well be an issue with the web component, but I will let you know more once I have done an initial investigation.

BR,
Goran

[2019-08-23 11:58] gatanaso commented on #12
Hi @shand2

I tried the following very simple demo:
[code]
The check icons were correctly being displayed. Therefore I suspect the issue might be related to something else but I could not quite understand your code as the formatting seems to be a bit broken.

Could you please update the formatting, as well provide a minimal working example that reproduces this issue?

Thank you,
Goran

[2019-08-26 15:15] ghost commented on #12
Hi Gatanaso,

here is a simple example of my project to reproduce the issue. After selection the content with the dialog button is loaded.

It is independent of using in a modal dialog or not

@Route("")
public class DemoView extends VerticalLayout {

    private final ComboBox<String> versionSelect = new ComboBox<>();

    public DemoView() {
        versionSelect.setItems(Arrays.asList("test1",

[2019-08-26 17:25] gatanaso commented on #12
Hi @shand2

I created a new project, with one view and added the above code that you posted. Similarly as before, everything worked as expected.

Here is the project zip, for you to give it a try and let me know if it works on your side:
[multiselect-combo-box-demo.zip](https://github.com/gatanaso/multiselect-combo-box-flow/files/3542125/multiselect-combo-box-demo.zip)

Additionally, since I am un

[2019-08-27 08:22] ghost commented on #12
Hi Goran,

here is a complete runnable example close to my project using gradle and SpringBoot.

[multiselect-combo-box-demo.zip](https://github.com/gatanaso/multiselect-combo-box-flow/files/3545014/multiselect-combo-box-demo.zip)

I can reproduce the issue with chrome 76.x and firefox 60.x browser

King regards,
André

[2019-08-27 09:47] gatanaso commented on #12
Hello @shand2

I think there has been some misunderstanding here :) The sample project you posted uses `Vaadin 13`:

<img width="352" alt="v13-img" src="https://user-images.githubusercontent.com/15094658/63759383-143afa00-c8c6-11e9-864f-5a71ef829150.png">

The `2.x.x` versions of this component are intended to work with `Vaadin 14` in `npm` mode.

To use `Vaadin 13` in `bower` mode, you should use

[2019-08-27 10:57] gatanaso commented on #12
Hi @shand2

I think the above issue is quite interesting :) Basically the main cause of the problem was that not all dependencies were being loaded for the `MultiselectComboBox` when it was not initially added to the view (i.e. it was included via a dialog or in the selection handler).

To fix this you need to add the following annotation to your view:
[code]
For example, in the above project, tha

[2019-08-27 10:57] #12 closed

[2019-10-01 13:43] ixM opened #17 "Trying to use multiselect-combo-box with spring-boot vaadin integration"
Hi,

I'm new to both spring-boot and vaadin and have been following the guide of spring-boot showing how to use vaadin.

I wanted to use the multiselect-combobox and followed [this tutorial](https://multiselect-combo-box-flow.herokuapp.com/start).

However, when I start my application nothing is shown and if I inspect the source code, I can see an empty <multiselect-combo-box> tag.

Here is the co

[2019-10-01 18:26] gatanaso commented on #17
Hi @ixM,

I noticed that you are using a release candidate version of the `MultiselectComboBox`, that is `2.0.0.rc2`:

You might want to change this to version `1.0.1` or `2.0.0`, depending on whether you are using Vaadin 13 (Vaadin 14 in compatibility mode) or Vaadin 14 respectively (as briefly described here:https://github.com/gatanaso/multiselect-combo-box-flow#version-information)

Furthermore

[2019-10-02 09:23] ixM commented on #17
Hi Goran,

Thanks for your response. Indeed, I hadn't realised I wasn't using the correct version of Vaadin.

Finally, this is the working version of my pom file.

[code]

The production mode is necessary to avoid raising an exception because npm can't find the files in /Users/gatanaso/...

Thanks again!

[2019-10-02 09:23] #17 closed

[2019-10-08 18:38] #7 closed

[2019-10-08 18:39] #13 closed

[2019-10-14 09:06] nils-bauer opened #18 "Vaadin 14 production mode: Failed to find the following imports"
To demonstrate the issue, I created a plain Vaadin starter and added multiselect-combo-box-flow 2.1.0 as a dependency. The MainView's only component is the MultiselectComboBox.
Normal building works without problems. But when I try to build it in production mode, I get the following errors:

[code]

[code]

[2019-10-14 11:09] nils-bauer commented on #18
I don't know why, but I can't reproduce it any more. Sorry for any inconvenience.

[2019-10-14 11:09] #18 closed

[2019-10-26 07:17] urkl opened #20 "Javascript Uncaught TypeError: Cannot read property 'comboBox' of undefined at Object.initLazy (multiselectComboBoxConnector.js?ec3f:33)"
Hi Goran.
Again thanks for great addon.

I find out that on page refresh I get some strange javascript errors.

`8634D9D71A7734952088B7D2A08EB3DE.cache.js:980 Exception is thrown during JavaScript execution. Stacktrace will be dumped separately.
tt @ client-8634D9D71A7734952088B7D2A08EB3DE.cache.js:980
client-8634D9D71A7734952088B7D2A08EB3DE.cache.js:195 (TypeError) : $0.$connector.confirm is not

[2019-10-29 11:59] pbaris opened #21 "Weird error after upgrade"
When i upgrade from version 2.0.0.rc3 to any higher (till 2.2.0) i get the following errors

TypeError: e.$ is undefined
TypeError: $0.$connector.updateSize is not a function
TypeError: $0.$connector.set is not a function
TypeError: $0.$connector.confirm is not a function

[2019-10-29 16:33] gatanaso commented on #20
Hi @urkl

Thank you for reporting this issue. It looks like the component hasn't been initialized properly after doing a page refresh. Would it be possible that you provide a minimal reproducible example that I could look into more closely?

[2019-10-29 16:37] gatanaso commented on #21
Hi @pbaris

Thank you for reporting this issue. I am not sure why this could be happening, so it would be good to know which version of Vaadin are you using and in what mode? Additionally, when upgrading the newer versions have you tried to delete the `node_modules` folder as well as the `package-lock.json` file before rebuilding the project?

[2019-10-29 20:09] urkl commented on #20
Hi Goran.

Here you go. https://gitlab.com/uros.kristan/multi-select-field-test

I found out that the problem occurs in conjunction with app-layout addon.

To reproduce the problem please follow this steps:
- run project
- click on Multi Select in menu
- select some items
- refresh browser window

And another question: Would it be possible to implement onItemClickListener for selected items. Not o

[2019-10-29 20:12] urkl opened #22 "On item click listener."
Hi. Is it possible to implement on item click listener when in read or editable mode. It would be nice to show user some additional item info on click.

[2019-10-30 13:08] pbaris commented on #21
Hi @gatanaso
I delete `node_modules` and `package-lock.json` before rebuild, but i get the same errors.

I use Vaadin 14.0.11, but i have notice it and in previous versions. At least from 14.0.5

[2019-10-30 16:41] gatanaso commented on #20
Hi @urkl

Thank you for providing the project, I will have a look at the issue.

Regarding the `onItemClickListener`, I think it would be possible to add such functionality.

[2019-10-30 16:43] gatanaso commented on #22
Hi @urkl

Thank you for your suggestion. Yes, I believe it would be possible to add this type of functionality.

[2019-10-30 16:49] gatanaso commented on #21
@pbaris  Thank you for clarifying. It looks like it's related to the lazy loading and the connector, but I cannot say for certain what or where the exact problem is. In your case, just updating causes these errors i.e. it's not due to refreshing the page or anything similar as it has been reported in #20? I will try to reproduce your issue with a fresh project and check what could be the possible

[2019-10-30 18:38] urkl opened #23 "Add addCustomValueSetListener functionality for Multiselect combo box"
Another feature for Multiselect combo would be addCustomValueSetListener as seen at ordinary combobox.

[2019-10-30 21:23] pbaris commented on #21
No it’s not happening on page refresh. The first time I navigate to the page I get the errors

[2019-10-31 07:03] gatanaso commented on #21
Thanks for clarifying. Unfortunately I have not been able to reproduce it myself. I suspect it's some loading issue, thought not quite clear on how to tackle it. Would it be possible to get a small reproducible project/example from your side that I could further look into?

[2019-10-31 07:16] pbaris commented on #21
I' ll try to make a small sample project, cause now it's part of a library and i will send it

[2019-11-01 10:37] gatanaso commented on #20
I think the issue happens because the `initLazy()` method of the connector is executed before the `ready()` method of the component. Therefore, the component is not yet initialized and these errors occur.

Found a similar issue here: https://github.com/vaadin/vaadin-grid-flow/issues/586

[2019-11-01 15:33] urkl commented on #20
I see. It looks it's an old bug in app layout.

[2019-11-01 16:33] urkl commented on #20
This is not good news if I understand this correctly. Bug from Vaadin is from March.

[2019-11-02 16:11] gatanaso commented on #20
Yes, unfortunately there has not been a lot of activity on that ticket.
Have you tried using the `MultiselectComboBox` in an app without the `app layout` add-on?
From what I have briefly tested, when used without the app layout add-on there are no issues at all as the initialization order is preserved.

[2019-11-04 08:02] urkl commented on #20
Do you know for a way to override  this annoying bug ?
Bug happens when opening in new browser window.

[2019-11-04 23:00] gatanaso commented on #20
Hi @urkl

I have been able to workaround this issue by modifying the connector code to execute once the element is defined. There is a new version available that includes this fix `2.2.1.rc1`.

Could you please test with this version and let me know if it fixes the issue:
[code]

BR,
Goran

[2019-11-04 23:07] gatanaso commented on #21
Hi @pbaris,

Out of curiosity, could you please give the latest rc release a try:
[code]
It includes a fix for another issue, but I suspect the one you have reported might be somehow linked to the same underlying problem.

Thank you.

[2019-11-05 07:13] urkl commented on #20
Goran! It works. Thank you!
I think that you even fixed issue posted on vaadin directory by Muhammad Faisal.

Best Regards, Uroš!

[2019-11-05 07:17] pbaris commented on #21
Hi @gatanaso
I try the `2.2.1.rc1` version and it works. Thanks for the fix.

[2019-11-05 07:17] #21 closed

[2019-11-05 08:53] #20 closed

[2019-11-06 21:06] davide1995 opened #26 "Item disappears clicking outside the combobox field"
Hi Goran.
Thank you very much for this job! I appreciate it. I just experimented a little bug and I would be very glad if you could investigate it.

As the title suggests, you can investigate this bug as follows:
- Just open your demo page (https://multiselect-combo-box-flow.herokuapp.com/)
- Click on "Choose"
- Click "Item 1"
- Click once again "Choose"
- Click on the white area on the page

The

[2019-11-07 10:51] gatanaso commented on #26
Hi @davide1995

Thanks for reporting this issue, I will further investigate it and get back to you.

[2019-11-11 12:12] urkl opened #27 "Join character when in readonly mode"
Hi Goran.

Is it possible to change colon (,) sign to semi-colon(;) when in readonly mode?

[2019-11-11 12:18] gatanaso commented on #27
Hi @urkl

Unfortunately no as the `,` is hard-coded in the code: `join(', ')`. However, it should be easy to add a property that specifies the join character for the display value which can be configurable by the user. I will try to include this in the next release.

BR,

Goran

[2019-11-14 10:48] urkl commented on #14
++ 1 for this enhancement

[2019-11-14 13:52] onuridrisoglu opened #28 "Uncaught TypeError: Cannot read property 'comboBox' of undefined"
Hi Goran,

Very good add-on, congrats!
But there is a problem when you want to use it a an editor component in a grid.

[code]

Here is the sample code to generate the issue:

[code]

Person object looks like this:

[code]

[2019-11-14 18:45] gatanaso commented on #28
Hi @onuridrisoglu

Thank you for reporting this issue. It would appear that a similar issue exists if you replace the `MultiselectComboBox` with a `ComboBox` (and update the example to work):
[code]
In which case you get `comboBoxConnector.js?c659:250 Uncaught (in promise) TypeError: Cannot read property 'overlay' of undefined`

I suspect the underlying issue lies with the `GridPro` and the way it

[2019-11-18 11:11] urkl opened #30 "Multiselect with binder and converter"
I found another annoying bug. It happens in combination with binder and converter. When filtering and selecting values with enter key I get null values on beans which has been previously selected.
It's annoying bug, because I thing filtering is crucial for such a component.

To reproduce:
- git clone git@gitlab.com:uros.kristan/multi-select-field-test.git
- git checkout binder-problem

Run project

[2019-11-20 19:42] #26 closed

[2019-11-20 19:42] #27 closed

[2019-12-02 10:38] gatanaso commented on #30
Hi @urkl

Thanks for reporting this issue. I was able to reproduce it and from my initial investigation it's related to the key mapper being cleared when the filter is applied. Once I have more free time available I can try to fix this issue.

[2019-12-20 10:18] onuridrisoglu commented on #28
yes, but the problem with `multiselect-combo-box` is dataProvider cannot initialise after this error, where as `combo-box`  works fine

[2019-12-20 12:08] gatanaso commented on #28
Thanks for providing more details @onuridrisoglu 🙏 I will look into it.

[2020-01-02 14:56] davide1995 opened #31 "Order selected item"
As an enhancement, I think it should be very nice to have the capability to move the items once they are selected. Think about it for example as an ordered list (1st, 2nd, 3rd, ...)

[2020-01-07 12:11] sagargit2 opened #32 "Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-combo-box-item" has already been used with this registry"
I am using **Vaadin 14**.  I tested this add on by adding the dependencies in pom.xml. Then I only added  following lines of code in my project:
[code]
After the addition of above code,  the UI stopped rendering. I am getting following errors on the browser console:
[code]

[2020-01-21 19:58] aboulogne opened #33 "New feature : close combox items list by clicking on dropdown button"
Is is possible to add a feature to close comboxlist items list overlay by clicking back on dropdown button (same button to open selection list), in addition of clicking anywhere else outside the selection list?

[2020-01-31 13:31] montadap commented on #32
I have a smiliar problem, my UI also stopped rendering after adding the following code:

`private MultiselectComboBox<String> mcbSchnittstellen = new MultiselectComboBox<>();`

The console in my Firefox browser give the following error
`NotSupportedError: 'vaadin-combo-box-item' has already been defined as a custom element vaadin-combo-box-item.js:178
    <anonym> vaadin-combo-box-item.js:178

[2020-02-06 10:11] montadap commented on #32
The Bug only occurs when the original vaadin ComboBox and the MultiselectComboBox are used together in one project.

It can be replicated by replacing one MultiselectComboBox with a normal ComboBox in the DemoView
here is a link to a branch where i've replicated the issue
https://github.com/montadap/multiselect-combo-box-flow/tree/issue32

[2020-02-09 19:47] gatanaso commented on #32
Hi both 👋

Thank you for reporting this issue and providing extra details 🙏

The error message is most likely due to the fact that 2 different versions of the `vaadin-combo-box` are being used. The latest version of the `MultiselectComboBox` requires `vaadin-combo-box` version `5.0.9` or higher.

If using Vaadin version 14.0.0, as @montadap branch also shows, this issue is visible. This is mostly

[2020-02-10 06:51] #32 closed

[2020-02-16 19:36] markhm opened #34 "Minor cosmetic issue"
Note that the second and subsequent items are aligned ón the left border, iso with a bit of space in between, as with the first item.

<img width="653" alt="Screenshot 2020-02-16 at 20 32 59" src="https://user-images.githubusercontent.com/1430451/74611397-bdd3a900-50fb-11ea-91c4-cf9dea7993fe.png">

Thanks for a nice component...!

[2020-02-16 20:26] markhm opened #35 "Feature request: Order of items should (also) be based on Comparable"
Similar to [this item](https://github.com/gatanaso/multiselect-combo-box-flow/issues/31), not not entirely, so it seems.

I would appreciate if the `Set` items that are added via `setItems(..)` are not only sortable by alphabet, as by `setOrdered(true)`, but also by following / implementation of the `Comparable` interface. I've set a custom rank for my items in this way (and hoped this would alrea

[2020-03-02 11:17] jensgoe opened #36 "getValue() returns list with null value after filtering"
**Steps to reproduce:**
- create MultiSelectComboBox and a Button to invoke getValue()
- add more items than pageSize (server-side filtering is used)
- select an item ("item 0")
- type some text (e.g. "155), so that items got filtered until one item is shown ("item 155")
- select that item
- now two items are selected in MultiSelectComboBox ("item 0" and "item 155")
- push the button

getValue() n

[2020-03-02 19:29] gatanaso commented on #36
Hi @jensgoe

Thanks for reporting this issue and for your investigation. I have moved it here, as this is the correct repository.

[2020-03-03 15:05] jstueckrath opened #37 "Combo Box fails to initialize for unclear reasons"
I am working on an application that uses Vaadin 14.1.17. When I add a MultiselectComboBox (version 2.3.0) to the main AppLayout, I get the following JavaScript errors and the box fails to render:
[code]
and
[code]
This problem looks a bit like #20, but I suspect the newer Vaadin version to contribute in some way. I also found a workaround by overriding the MultiselectComboBox to use `@NpmPackage(v

[2020-03-03 15:16] jstueckrath opened #38 "Remove banner.txt"
I added `multiselect-combo-box-flow` to the (Maven) dependencies of a Spring Boot project and noticed that the application suddenly showed the MultiselectComboBox banner. I did not yet define any banner and it was no problem to replace it with an own banner, since those are loaded with higher priority. However, I would suggest to remove the `banner.txt` since such a behaviour is not what I would e

[2020-03-03 15:45] gatanaso commented on #38
Hi @jstueckrath

Thanks for reporting the issue. I think the banner has been auto-generated when initially creating the project via the vaadin plugin. I do agree that the component should probably not display a banner on the app level, even if the app has not set one.

[2020-03-03 16:39] jstueckrath commented on #38
@gatanaso You're welcome, I am happy to help. Thanks also for the your combo box implementation, it fits my requirements quite nicely.

[2020-03-10 13:47] Me1kaa commented on #28
Hello! Any progress?

[2020-03-13 19:00] pjedson opened #39 "Issue when used MultiselectComboBox within the Grid."
grid.getColumnByKey("middleName").setEditorComponent(middleName);

Where middleName is a MultiselectComboBox object.

The problems is, when the cell is clicked in the grid, unable see the drop down list, same thing works perfectly when I add to a Vertical/Horizontal Layout.

[2020-03-15 15:05] #30 closed

[2020-03-15 15:06] gatanaso commented on #36
fixed with #40

[2020-03-15 15:06] #36 closed

[2020-03-15 20:35] gatanaso commented on #37
Hi @jstueckrath,

Could you please try with the latest version `2.3.1` and see if the issue still occurs?

Thanks

[2020-03-16 09:49] jstueckrath commented on #37
@gatanaso I just tested it and no longer get a JavaScript error, thanks.

[2020-03-16 09:51] #37 closed

[2020-03-23 19:01] #23 closed

[2020-03-24 16:55] GPiotr opened #42 "Filtered items: You can choose only one item and then filter disappears."
When you filter items in Combobox by writing some text in there you can choose only one filtered item, and then the combo is refreshed and a filter is removed.

Steps to reproduce:
1. In Multiselect Combobox type text which filters the items.
2. Select one of the items.
3. Expanded & Filtered Combobox will be refreshed.
4. You have to type the filter again to select an additional item.

Expected r

[2020-03-24 17:06] GPiotr commented on #36
Hi, I've downloaded 2.4.0 release today and the issue still occurs. Is it possible that something happened between 2.3.1 and 2.4.0?

[2020-03-24 17:12] gatanaso commented on #36
Hi @GPiotr

There are some changes, but nothing that should've impacted this (at least I did not notice any issues).

Can you reproduce the issue here: https://multiselect-combo-box-flow.herokuapp.com/lazy-loading ?

[2020-03-24 17:32] GPiotr commented on #36
Woah! You are fast.
I've checked the live demo and cleaned my project within the rebuild.
Seems that everything is working fine.
Sorry for troubling you.

[2020-03-24 18:30] gatanaso commented on #42
Hi @GPiotr

Thanks for reporting the issue. I will give it a look once I have some free time on my hands.

BR,
Goran

[2020-03-25 09:33] davide1995 commented on #31
Hi Goran.
Do you have some thought or plan on this issue? Do you think it would be possible?

[2020-03-25 18:17] gatanaso commented on #31
Hi @davide1995,

This is a side-project for me and unfortunately I haven’t had much time to work on it due to customer projects. I will give it a look as soon as I have more time on my hands.

BR,
Goran

[2020-03-25 18:18] gatanaso commented on #28
Hi @Me1kaa,

This is a side-project for me and unfortunately I haven’t had much time to work on it due to customer projects. I will give it a look as soon as I have more time on my hands.

BR,
Goran

[2020-04-02 02:53] jfexart opened #44 "Items are not displayed as selected"
I have a form where I incorporated this component and did the binding without any problem.

[code]

It works perfect. Save and display values correctly. But if I set the selected values programmatically. These are not shown as selected. The same thing happens that in this bug: [Items are not shown as selected if set programmatically](https://github.com/gatanaso/multiselect-combo-box/issues/3).

Th

[2020-04-02 05:22] gatanaso commented on #44
Thanks for reporting this issue @jfexart. Have you implemented `equals()` and `hashCode()` for the `Teams` object? If not, could you please override those methods and give it another try?

[2020-04-03 18:35] jfexart commented on #44
Yes, I had annotated the class with `@EqualsAndHashCode`  from lombok project

[2020-04-03 18:41] gatanaso commented on #44
Okay, could you please provide a minimal reproducible example project I could look at? It would greatly help in identifying and resolving the issue. Thank you

[2020-04-09 17:05] matteocona opened #46 "Issue using MultiselectComboBox within Dialog."
Hi Goran,
how are you? :)

Your multiselect is amazing and works pretty well :)
I have found the following issue:
items are not displayed if the multiselect is placed into a dialog.

I attach a simple test app and two screenshots.
The test app compare the behavior of the combo box and the multiselect combo box (both into dialogs).

Let me know if you need something more.
Thank you in advance :)
Ma

[2020-04-09 18:25] #42 closed

[2020-04-11 20:54] syampillai opened #48 "Feature to disable a subset of the items"
Is there a plan to introduce a feature to enable/disable a subset of the items in the list? Disabled items should not be selectable and if we disable an already selected item, we shouldn't be able to remove it too.

[2020-04-13 17:35] ajgassner opened #49 "Vaadin 15 compatibility"
It seems the component is currently not compatible with Vaadin 15.

Client side console error: `webpack-internal:///../target/flow-frontend/FlowClient.js:205 'frontend://multiselectComboBoxConnector.js' could not be loaded.`

Beside the legacy code can be dropped from `multiselectComboBoxConnector.js`. With V15 Bower mode isn't supported anymore.

Does someone know a simple workaround for version

[2020-04-13 19:02] ajgassner commented on #49
I didn't see there is already an open pull request https://github.com/gatanaso/multiselect-combo-box-flow/pull/45. It's quite the same as I did here: https://github.com/ajgassner/multiselect-combo-box-flow/commit/68e8ba8d5ca89c642b2001ad9a63e534cce517f2

[2020-04-13 19:10] gatanaso commented on #49
Hi @ajgassner,

Thanks for opening this issue. I have not yet added support for V15 as there are some other issues I am working on. Will try to get this out as soon as possible. ✌️

[2020-04-13 20:29] gatanaso commented on #49
Vaadin 15 support added with #45. Thank you @aspan for the PR 🙏 .

@ajgassner I released version `3.0.0.rc1` that now supports `Vaadin 15`. Please give it a try and let me know if there are any issues. I will close this ticket as fixed.

Kind regards,
Goran

[2020-04-13 20:29] #49 closed

[2020-04-13 20:53] ajgassner commented on #49
Thank you very much for releasing it! It works now ;)

[2020-04-14 14:51] syampillai opened #50 "Taking more vertical space in "read-only" mode"
I noticed that when used in a FormLayout, the vertical height is more than normal when the component is in "read-only" mode. Normal height is resumed when in "edit" mode. (Tried version 3.0.0.rc1 and earlier versions)

[2020-04-14 15:55] gatanaso commented on #50
Thanks for reporting this issue.

Have you tried adjusting/customizing the style of the component?

[2020-04-14 20:35] syampillai commented on #50
No, this effect was when I just used it in the default way.
Read-Only mode: (Please check the field labeled "Device")
![read-only](https://user-images.githubusercontent.com/4854045/79272009-d79e2c00-7eb1-11ea-9c6a-7f754c3aa423.png)
Edit mode:
![editing](https://user-images.githubusercontent.com/4854045/79272029-e389ee00-7eb1-11ea-9d14-57655d267b33.png)

[2020-04-15 06:14] gatanaso commented on #46
Hi @matteocona,

Thanks for reporting this issue and providing a reproducible example. I believe it's related to the shadow dom not being initialized when the component is used in a dialog. Will need some time to further investigate and find a way to resolve this issue.

[2020-04-15 06:56] matteocona commented on #46
Thank you very much,
Matteo

[2020-04-20 14:30] basisbit commented on #18
got the same problem. Any suggestions how to solve this?

[2020-04-20 18:08] gatanaso commented on #18
Hi @basisbit,

Could you please add some details, i.e. which version of component are you using and which version of Vaadin is your project based on?

You can try to remove `package-lock.json` and then run a `mvn clean install`.

BR,
Goran

[2020-04-23 20:55] gatanaso commented on #46
Hi @matteocona,

Could you please test with the following version: `2.4.2` and let me know if it works?

BR,
Goran

[2020-04-23 20:56] gatanaso commented on #39
Hi @pjedson,

Could you please test with the following version: `2.4.2` and let me know if it works?

BR,
Goran

[2020-04-23 20:56] gatanaso commented on #28
Hi,

Could you please test with the following version: `2.4.2` and let me know if it works?

BR,
Goran

[2020-04-24 05:57] kPlock commented on #14
++ +++1 for this enhancement

[2020-04-24 06:13] kPlock commented on #14
should these two methods be enough?

MultiselectComboBox.java

[code]

[2020-04-24 14:29] #46 closed

[2020-04-24 14:29] #39 closed

[2020-04-24 14:29] #28 closed

[2020-04-24 15:20] pjedson commented on #39
Hi Goran,
Just tested with with following..
		<dependency>
			<groupId>org.vaadin.gatanaso</groupId>
			<artifactId>multiselect-combo-box-flow</artifactId>
			<version>2.4.2.rc2</version>
		</dependency>
No luck, it still the same.

[2020-04-24 15:26] gatanaso commented on #39
Okay, that sounds interesting, as I tested with a local sample project and it worked nicely. Could you provide a reproducible example project that I can have a look at?

[2020-04-24 15:28] gatanaso commented on #14
Hi @kPlock,

Thanks for the suggestion, I will check it out and get back to you. 🙏

[2020-04-24 15:29] pjedson commented on #39
Sure, will attach whole project

[2020-04-24 15:46] pjedson commented on #39
Hi Goran,
When I built a new project , it is working :)
sorry for false alarm.
Thanks a lot.

[2020-04-25 06:54] gatanaso commented on #50
Thanks for the feedback, I should improve the default here. And since the `MultiselectComboBox` has style-able parts, this is easy to also modify in your own app:

1. Create a new file under `frontend/styles` called `multiselect-combo-box-styles.css`
2. In that file add the following code:
[code]
3. Apply the new style to your app by adding the following annotation:
[code]

The above code is to fi

[2020-04-25 07:06] gatanaso commented on #34
Hi @markhm,

Thanks for opening this issue. Hopefully this answer does not come too late :)

The `MultiselectComboBox` has stylable parts, so you can adjust the styles however you see fit for you application. For example, to increase the spacing between the tokens (i.e. affect the input field styles) you need to target the `multiselect-combo-box-input` component:

1. Create a new file under `front

[2020-04-25 07:06] #34 closed

[2020-04-26 05:30] syampillai commented on #50
Thank you Goran

[2020-04-26 21:51] Me1kaa commented on #28
@gatanaso Hello! I managed to run it, I had to change the version of Vaadin in the project. And yeah it works in latest versions.

[2020-04-27 20:14] markhm commented on #34
Hi @gatanaso,

Many thanks for going above and beyond on your answer. It is definitely still on time and I will be able to use this in my solution. 👍🏻🙏🏻

[2020-05-06 07:28] aley2003 opened #53 "Height changes should dispatch "icon-resize" event"
If MultiSelectComboBox is used in the header row of an Grid there are refresh problems, if there is an resize of the MultiselectComboBox.
Solution: As far as I understand, MultiselectComboBox should dispatch an "icon-resize" event whenever its height changes.
See https://vaadin.com/forum/thread/18251264/grid-header-row-overlaps-first-data-row

![image](https://user-images.githubusercontent.com/634

[2020-05-06 17:00] gatanaso commented on #53
Hi @aley2003

Thank you for letting me know. From what I understand (as given in the thread) the following workaround can be used to remedy this issue until it's implemented:
[code]

[2020-05-06 20:20] aley2003 commented on #53
Hi gatanaso,
I have put the workaround

in the ValueChangeListener and it works.
The only drawback is, that the notifyResize() is called to often, but I do not notice any performance penalty.

[2020-05-24 18:33] gatanaso commented on #14
Hi everyone,

I added this feature and it's now available in `2.5.0.rc1` for Vaadin 14 only (if all goes well I will also introduce it for Vaadin 15).

Could you please try out this version and let me know if there are any issues with using template or component renderers?

[code]

Check out the [DEMO](https://multiselect-combo-box-flow.herokuapp.com/presentation) for examples on how to set a temp

[2020-05-24 19:58] nicoulaj commented on #14
Thanks for this, it looks great. Would it be difficult to also use the custom renderer for the selected items ?

[2020-05-25 06:01] gatanaso commented on #14
Thanks for the feedback @nicoulaj. The current functionality is aligned with the Vaadin combo box, which supports renderers for the drop down items only. Adding a custom renderer for the selected item is probably achievable, though imho not the most beneficial feature.

What would be a good use case for having the custom component / renderer for the selected item(s)?

[2020-05-25 06:45] KasparScherrer commented on #14
This is great news. I havent tried it yet but will trust that it works ;)

Since the basic ComboBox renderer also doesnt work for the selected item, i never expected it would work like that here. Having a renderer now at least for the options is a great improvement, and behaves just like the original `ComboBox`. 👍

But since you ask for use cases, i personally prefer having a renderer for selected

[2020-05-25 06:48] #14 closed

[2020-05-25 17:06] nicoulaj commented on #14
@gatanaso my use case would be to make selected tags clickable to navigate to their page. If ItemLabelGenerator accepted HTML that could be a middle ground solution I guess, but I agree this is not the scope of this issue.

[2020-05-25 18:20] gatanaso commented on #14
@nicoulaj Okay, now I understand. Well in that case I believe having an on item click listener could be more sufficient than rendering HTML for each token/item.

[2020-05-27 08:40] matteocona commented on #46
Hi Goran,
sorry for the late reply.
It works.
Tested.

multiselect-combo-box-flow
version 2.5.0.rc1

vaadin version
14.2.0

Thanks a lot
Matteo

[2020-05-27 08:53] KasparScherrer commented on #35
You can pass a `LinkedHashSet` into `multiSelectComboBox.setItems(..)`, the items are then displayed in the order they were added to the linkedHashSet.

[2020-05-27 10:00] matteocona commented on #14
Hi Goran,
great feature. Works pretty well.
I tested with ComponentRenderer.

Is there a way to conditionally render the items in the box?

![multiselectcombobox_gatanaso_setrenderer_img](https://user-images.githubusercontent.com/51358983/83005656-5dfd7000-a011-11ea-8f59-fdc9319906e1.png)

Thank you very much
Matteo

[2020-05-27 10:15] KasparScherrer commented on #14
@matteocona This is a limitation of the combox, that it can only set a Renderer for the part that you marked yellow. The part where the arrow points in your image can only ever be a String, and still needs to be defined using an `ItemLabelGenerator`.

[2020-05-27 10:24] matteocona commented on #14
@KasparScherrer
Hi,
so there is no way to achieve that for the moment.

Thanks a lot
Matteo

[2020-05-27 10:56] tco42 opened #56 "Dropdown not showing after changing visibility"
I try to show a multiselect after clicking a button by changing its visibility.

multiselect.setVisible(false);
button.addClickListener(event -> multiselect.setVisible(true));

This causes the dropdown list with all items to not show up after clicking the button / writing in the textfield.

Adding a multiselect to a layout/div and changing visibility on the layout works fine.

[2020-05-27 13:56] matteocona commented on #46
Hi Goran,
have you tried the component within a dialog also for Vaadin 14.1.x?

Thank you very much
Matteo

[2020-05-29 17:58] gatanaso commented on #46
Hi @matteocona,

I cannot recall at this time :) Are there any issues when using Vaadin 14.1.x ?

[2020-05-29 18:55] gatanaso commented on #56
Hi @tco42 and thanks for opening this issue. It's quite an interesting case. The client side code is executed and initialised (even though not visible). However, as it tries to call the server to register itself, that call is not forwarded by the framework and thus the component does not fully initialise. I will have to investigate further to see if there is a way to solve this.

For now, as you m

[2020-06-02 06:13] FLecorps opened #57 "New Features: Hide/Disable Input field + Improve Compact Mode"
Hey Goran,

AWESOME Component: Simple and clear.

Still a couple of questions/requests:
- is it possible to hide the input field (=no more user search with the keyboard)? to disable it?
- an "enhanced" compact mode would be great: showing only the first selected item, then the count of selected items (see the "Kategorie" component in https://www.galaxus.ch/de/search?q=processor )

Again, great wor

[2020-06-02 18:18] gatanaso commented on #57
Thanks for the feedback and for the feature suggestion. Regarding the hiding/disabling of the input field, you can disable the component or set it to readonly (although I am not sure if that fits your use case).

[2020-06-03 09:57] mvysny commented on #46
Hi @gatanaso unfortunately the component is not initialized properly when it is initially invisible within the dialog (sorry :-) ). The following code demoes the issue:

[code]

Using Maven `multiselect-combo-box-flow:2.5.0.rc1` which uses `multiselect-combo-box@2.4.2`

Should I file this a new bug please?

[2020-06-03 10:05] gatanaso commented on #46
Hi @mvysny,

Thanks for the comment and the reproducible steps. Yes, there is already a ticket about this issue: https://github.com/gatanaso/multiselect-combo-box-flow/issues/56

Until I resolve it, you can try to workaround it by wrapping the component in a `Div` and changing its visibility (as it is suggested in the ticket).

[2020-06-03 10:06] #38 closed

[2020-06-03 10:07] mvysny commented on #46
Thank you :) At first I thought it to be a Dialog-related issue, but it's really a visibility-related issue. I'll wrap the component with `div` as you suggest.

[2020-06-05 13:41] jcgueriaud1 opened #59 "Exception when I update Vaadin to 14.3.0.alpha1"
If I tried to vaadin 14.3.0.alpha1, I've got an error.
Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-combo-box-item" has already been used with this registry
    at eval (webpack-internal:///../node_modules/multiselect-combo-box/node_modules/@vaadin/vaadin-combo-box/src/vaadin-combo-box-item.js:189:16)

I think it's because of this error (You can se

[2020-06-06 16:42] gatanaso commented on #59
Hi @jcgueriaud1,

Thanks for raising this issue. As you have suggested, it could be due to errors in the frontend dependencies and multiple versions being used. Were you able to get information on which version of `vaadin-combo-box` it resolves to?
My assumption is that Vaadin 14.3.0.alpha1 uses alpha dependencies and downloads a different version of the `vaadin-combo-box` than the `MultiselectCom

[2020-06-07 09:05] nicoulaj commented on #14
@gatanaso it is possible to tag a release ? this feature is useful, and I did not see any bugs with it on Vaadin 15 :)

[2020-06-07 09:19] gatanaso commented on #14
@nicoulaj Yeah, I was planning to do that soon. Thank you for taking the time to test it out.

[2020-06-08 15:54] jcgueriaud1 commented on #59
Hi,

Perhaps it will be solved when Vaadin 14.3 will use a stable version of Vaadin Combobox. I will re-try it once it's done and add a comment if it's working :).

As a workaround, you can use pnpm instead of npm, that solves the issue even in alpha.

[2020-06-08 16:45] gatanaso commented on #59
Hi,

Thank you, I really appreciate it.

Great, I did not know this. Thank you for sharing, hopefully it will help others in the future if they stumble upon this issue.

[2020-06-11 12:12] jensgoe opened #60 "Running on Vaadin16"
I recently upgraded to vaadin16. A page with a multiselect-combobox shows the following message in the top right corner:

![grafik](https://user-images.githubusercontent.com/6022600/84383937-8084b100-abed-11ea-9e27-94d84d1730eb.png)

[2020-06-11 12:26] gatanaso commented on #60
Hi @jensgoe,

Which version of the `MultiselectComboBox` are you using? Also, have you tried to reproduce it on a new Vaadin 16 project or it happens after you updated?

[2020-06-11 12:43] jensgoe commented on #60
I am using 2.4.0. But i just noticed you are already at 3.0.2. Great.
By the way. i have two projects. One is pure java there your MultiselectComboBox works. The other one is Polymer based and there is the error message shown. So i guess it is kind of misconfiguring.

[2020-06-11 12:48] gatanaso commented on #60
Here is the version information: https://github.com/gatanaso/multiselect-combo-box-flow#version-information, so for Vaadin 16 you should be using `3.x.x` of which `3.0.2` is the latest. For the polymer based project please see: https://github.com/gatanaso/multiselect-combo-box#getting-started

[2020-06-11 16:01] #60 closed

[2020-06-12 07:11] gatanaso commented on #33
Hi @aboulogne,

This seems to be caused by the following issue in the `vaadin-combo-box`: https://github.com/vaadin/vaadin-combo-box/issues/869

[2020-07-10 09:24] jcgueriaud1 commented on #59
It's working in Vaadin 14.3.0.

Probably an error because vaadin-combobox for 14.3.0.alpha was in alpha.

[2020-07-10 09:24] #59 closed

[2020-07-21 12:19] SimonC-24 commented on #57
Agree, awesome component.

However, I would also need to hide input field, showing selected items only. Any way to achieve that with the current version of the component?

![image](https://user-images.githubusercontent.com/9453430/88054327-74c9ca00-cb5d-11ea-84da-780e27b2bf06.png)

Cheers, Simon

[2020-07-22 14:41] olikam opened #61 "Read-only mode has visual problems"
In read-only mode multiselect combobox appears squeezed if it's empty. If it's not empty, it's not as same as the original combobox; there is no down-arrow, a little bit shorter and the text is a little bit lighter. You can find the screenshots in the attachment. (First component is the original combobox, the second one is multiselect...)
![image](https://user-images.githubusercontent.com/27846345

[2020-07-22 14:41] olikam opened #65 "Read-only mode has visual problems"
In read-only mode multiselect combobox appears squeezed if it's empty. If it's not empty, it's not as same as the original combobox; there is no down-arrow, a little bit shorter and the text is a little bit lighter. You can find the screenshots in the attachment. (First component is the original combobox, the second one is multiselect...)
![image](https://user-images.githubusercontent.com/27846345

[2020-08-05 15:12] jstueckrath opened #62 "A MultiselectComboBox in a Dialog unexpectedly closes it on mobile devices"
I recently encountered a strange problem when using a MultiselectComboBox in a Dialog **on mobile devices (only!)**. I am not sure whether this is a Dialog issue of a MultiselectComboBox issue, but I did not find a Vaadin Standard Component that shows the same behavior. I attached an example that illustrates the problem:
[multiselect-combo-box-dialog-issue.zip](https://github.com/gatanaso/multisel

[2020-08-06 13:22] sandronm opened #63 "New feature: I18N compliant compact mode"
Hello!

First of all, thank you for your plugin!

I open this issue to ask you a new feature: be able to translate the text in the compact mode.
Right now, this possibility doesn't exist, in compact mode, the text is always "x values".

Thank you! :-)

[2020-09-04 06:49] olaf-2 opened #64 "DOMException with Vaadin 17.0.0"
The multiselect-combo-box works great with Vaadin 16.0.0.3. After updating to Vaadin 17.0.0 the following exception is thrown:

`
vaadin-item.js?0d7d:89 Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-item" has already been used with this registry
    at eval (webpack-internal:///../node_modules/.pnpm/registry.npmjs.org/@vaadin/vaadin-combo-box/5.3.0/

[2020-09-04 08:09] olaf-2 commented on #64
Ah, I see. I use 2.4.2 which works with Vaadin 14. The latest I can get with npm (I use the new Typescript approach of Vaadin) is 2.5.0-alpha. How can I get the newest version?

[2020-09-04 08:13] olaf-2 commented on #64
I close the issue here and reopen it in the correct project. Sorry.

[2020-09-04 08:13] #64 closed

[2020-09-04 08:14] olaf-2 opened #66 "DOMException with Vaadin 17.0.0"
The multiselect-combo-box works great with Typescript client view in Vaadin 16.0.3. After updating to Vaadin 17.0.0 the following exception is thrown:
`
vaadin-item.js?0d7d:89 Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-item" has already been used with this registry at eval (webpack-internal:///../node_modules/.pnpm/registry.npmjs.org/@vaadin/vaad

[2020-09-05 07:38] #50 closed

[2020-09-05 07:38] gatanaso commented on #57
Hi @yoursnowyfriendleo,

You can hide the input field via CSS by hiding the underlying `part="input-field"`:
[code]

Hope this helps,
Goran

[2020-09-14 10:06] SimonC-24 commented on #57
Hi @gatanaso
Unfortunately, does that not work. It hides drop-down arrow, but keeps the space for input-field, which is the opposite of what I need.

![image](https://user-images.githubusercontent.com/9453430/93073134-bde05b00-f682-11ea-85b2-516c602cf5c1.png)

Cheers, Simon

[2020-09-14 10:33] gatanaso commented on #57
Hi @yoursnowyfriendleo,

Yes, that is expected as the arrow icon is part of the input field :)

However, it's interesting that it would still take up space in the page even though it's removed. Have you inspected this already?

[2020-09-14 11:13] SimonC-24 commented on #57
Ok, there are two parts with "input-field" If I display:none the first one, the space is not visible, but also not the arrow. Furthermore, the dropdown it opens is not wide enought to show items without truncation.
If I display:none the second, space is visible.
![image](https://user-images.githubusercontent.com/9453430/93079231-17995300-f68c-11ea-88f7-679e95371930.png)

[2020-09-19 16:37] gatanaso commented on #66
Hi @olaf-2 and thanks for opening this issue. Are you using server side Vaadin? This is the repository for the web component, and the repository for the "Java wrapper" is here:  https://github.com/gatanaso/multiselect-combo-box-flow

Also, as a side note, I haven't yet added support for Vaadin 17, contributions are always welcome :)

[2020-09-19 16:53] olaf-2 commented on #66
No, in this case I use the TypeScript view in Vaadin 17. Coming from the Java side I think I am not the right person to contribute since I have no deeper JS knowledge.

[2020-09-20 09:47] gatanaso commented on #63
Hi @sandronm,

This feature is currently work in progress :) I have updated the web component with a compact mode value renderer which enables adding a function to handle the "compact mode" display label (https://github.com/gatanaso/multiselect-combo-box/issues/59). However, I have not yet released a new version or have added the appropriate API to the Java component.

[2020-09-20 16:46] gatanaso commented on #65
Hi @olikam,

Until the default is improved, you can adjust the styles for readonly mode similar to how it's done here: https://github.com/gatanaso/multiselect-combo-box-flow/issues/50#issuecomment-619332193.

For you particular case, I think the following CSS will align the components better:
[code]

BR,
Goran

[2020-09-20 16:46] #65 closed

[2020-09-20 16:47] gatanaso commented on #65
Regarding the "drop down arrow", that is currently by design. I could consider adding it when updating the defaults. Thanks for the feedback.

[2020-09-21 07:20] sandronm commented on #63
Great news, thank you for your job!

[2020-09-23 15:20] gatanaso commented on #66
@olaf-2 Could you please provide a minimal reproducible project, as that would make it easier to find the root cause?
Also, have you tried deleting the `node_modules` directory and `package-lock.json` file and rebuilding the project?

edit: Did you get any errors in the server console?

[2020-09-24 04:49] #33 closed

[2020-09-24 13:45] lipisak opened #67 "Sort selectedItems"
Hi,
I use your component as selector of Days of week. In selection dialog it's ok - values are sorted as on input. When I select item these values are not correctly sorted. Guess it's because of Set (not sorted). I am attaching an image where incorrect sorting is visible. setOrdered(BOOLEAN) doesn't take any effect.

<img width="541" alt="SORTING_ISSUE" src="https://user-images.githubusercontent.c

[2020-09-24 18:04] gatanaso commented on #67
Hi @lipisak,

It could be related to the caption generator, but I can't say for certain. The "ordered" example in the demo https://multiselect-combo-box-flow.herokuapp.com seems to be working okay.

Any chance you can provide a minimal reproducible project with the issue?

Thank you,
Goran

[2020-09-24 18:10] gatanaso commented on #62
HI @jstueckrath and thanks for the detailed information. Yeah that sounds interesting, not quite sure why it's happening. I'll try to look into it more closely and will get back if I find anything.

[2020-09-25 09:01] lipisak commented on #67
Hi @gatanaso,
I am attaching a Java file - actually it's kind of wrapper - because we need values of the filed to be in list not in set. Whenever we use it during selection it changes the order of selected items (should be in order of initial list). When we set initial selected items it is also set incorrectly. The strange thing is that it is no alphabetically neither in Czech nor in English. It i

[2020-09-26 10:37] gatanaso commented on #57
@yoursnowyfriendleo Ah yes, I forgot to clarify you need to target the input field that is part of the `multiselect-combo-box-input`. And yes, if you do this, the down arrow is not visible (as that is part of the field itself).

This is interesting, as I think the dropdown should be the width of the whole field. For example:
<img width="836" alt="img" src="https://user-images.githubusercontent.com

[2020-09-26 10:38] #44 closed

[2020-09-26 10:44] gatanaso commented on #53
@aley2003 You can also debounce the calls so they don't happen as often and possibly cause performance issues.

[2020-09-28 09:38] miloszszyrner opened #68 "Property "title" not set"
I wanted to show up tooltip on mouse hover over. To do it I have written code given below:
[code]
But as a result, I cannot see my tooltip

[2020-09-28 11:43] gatanaso commented on #68
Hi @miloszszyrner,

At this time the `title` property shows a concatenated list of the selected items. For example:
![title](https://user-images.githubusercontent.com/15094658/94428122-d9765600-0198-11eb-829b-885f6f1af04f.png)

This was added, especially for compact mode, where it is not immediately obvious which items are selected.

[2020-09-29 18:37] gatanaso commented on #67
Hi @lipisak and thanks for sharing the file. Unfortunately I can't really run or use that to see how it behaves, as it's missing other internal classes from your project.

Are you able to reproduce the issue with the vanilla `MultiselectComboBox` and not in the custom wrapper field that you have shared?

[2020-10-01 11:04] lipisak commented on #67
Hi @gatanaso,
I did some research and I found following. There is `private static <T> Set<T> presentationToModel` method in MultiselectComboBox. HashSet implementation which is used doesn't keep the order of items returned from client side. As it maps the values correctly to model values and then add it to set. But it doesn't keep the order returned by client. Wouldn't it be better to use LinkedHa

[2020-10-01 11:59] gatanaso commented on #67
Hi @lipisak,

Yeah, though the `ordered` demo from https://multiselect-combo-box-flow.herokuapp.com works perfectly fine without any issues, even with the current presentation to model behavior and the sorting being done on the client-side.

[2020-10-01 12:49] lipisak commented on #67
Hi @gatanaso

this is the most simplified version of the usage I can create :) The MultiComboBoxField must be preserved as it behaves as wrapper Set<->List.

[https://github.com/lipisak/multiselectcombo-vaadin14-minimalRunnable
](https://github.com/lipisak/multiselectcombo-vaadin14-minimalRunnable)

This project uses only vaadin and your component - no 3rd parties.

Thank you
J.

[2020-10-01 13:11] gatanaso commented on #67
Oh, I think I've understood the issue wrongly from the beginning 😄 Yes, you are right. If you use set ordered, the selected items will be sorted alphabetically on the client. If you omit it, then the value order is lost due to the internal data representation.

[2020-10-01 13:16] lipisak commented on #67
Guess it doesn't matter in my example if you set ordered true or not (on my wrapper which passes the value to your component). The items are incorrectly set anyway :) If I understand ordered feature correctly - it is used on client side. The server only gets the values from client side, maps it to server representation and returns them in the Set. Which unfortunatelly can be ordered differently -

[2020-10-01 18:38] gatanaso commented on #67
Just to clarify one more time. Your use case is such that the selected items (tokens/chips) always need to be sorted based on how they appear in the drop-down list, irregardless of the order in which those were selected?

For example, if the list of drop-down items is: "Mon, Tue, Wed, Thu, Fri, Sat and Sun". And nothing is selected. You open the drop-down and select: "Wed, Sat and Mon", then the e

[2020-10-01 18:43] lipisak commented on #67
This is exactly the example I should provide you :-D It would be very helpful for us, if this feature would be possible.
We use it for months, days, etc. For users it's very confusing when they select days that they are not in "logical" order.

[2020-10-02 07:23] lipisak commented on #67
Hi @gatanaso,
If you guide me some way we can create pull request for this, but I am not sure, what should be changed. J

[2020-10-02 15:52] gatanaso commented on #67
Thanks, I will have to think about it as well. Not sure what would be the best approach. I am open to suggestions in case you have any :)

[2020-10-04 11:41] gatanaso commented on #67
Hi @lipisak,

One way you can temporarily work around this limitation, is by overriding the client side sorting:
[code]

The above code will ensure that the list of selected items is sorted according to the given `sorter` object values and fits your use case 🙂

Hope this helps,
Goran

[2020-10-04 12:25] #63 closed

[2020-10-04 12:31] gatanaso commented on #66
It might have been related to this issue https://github.com/vaadin/flow/issues/9051 which has already been fixed in Vaadin. I kindly ask if you can re-test when a new version of Vaadin is released to see if the issue still occurs.

Thank you

[2020-10-06 12:17] miloszszyrner opened #71 "Item labels not genarated"
Steps do reproduce:
1. Create component with ItemLabelGenerator
2. Set enabled to false
3. Trigger somewhere in code to make component enabled and set elements
4. Try to pick elements on the UI

Result: Elements are loaded without generated labels and cannot be selected

[2020-10-07 12:31] jcgueriaud1 commented on #66
Hi,

I think it's related to this ticket: https://github.com/gatanaso/multiselect-combo-box-flow/issues/59

Basically the vaadin-multi-combobox needs a different vaadin-item version than Vaadin 17. I'm not sure how to fix it. Perhaps by changing the vaadin-item version of the component but I'm not sure if you can have the same version for Vaadin 14 and 17.

[2020-10-07 18:57] gatanaso commented on #66
Thanks @jcgueriaud1 for looking into this further, I really appreciate it 🙏

[2020-10-12 13:42] Sryther commented on #46
Hi, I could not achieve to display the multiselect like it did before the vaadin 14 upgrade. It worked in the past and since I updated and switched to Material theme I had no luck with it.
I'm in the same situation: the combobox in a dialog.

This a sample of my code:

[code]

When I click on the button, I have the `(TypeError) : $0.$connector is undefined` error and `(TypeError) : window.Vaadin.F

[2020-10-19 16:26] nbabb opened #73 "Vaadin 14.4.1 running in compatability mode"
I have followed the online instructions and attempted to get a simple version of this multiselect combo box working, however it doesn't appear in my page.  I see the multiselect-combo-box component in the page, but there is no combo rendered.  We are running in compatibility mode and so I'm wondering if that might be the issue?  We are also using the com.devsoap.vaadin-flow gradle plugin.

[2020-10-19 18:49] allenvpn312 opened #74 "Suffix Component Feature"
Thank you for creating this awesome component.  Is there any chance to add a custom component at the end of the multiselect component similar to Vaadins built in setSuffixComponent()?

Thank you

[2020-10-19 19:15] gatanaso commented on #73
Hi @nbabb,

Which version of the component and of the framework are you using? For compatibility mode you should try version `1.1.0` which is unfortunately not as up to date as the newer versions in regards to available features.

Hope this helps,
Goran

[2020-10-19 19:18] gatanaso commented on #74
Hi @allenvpn312

Thanks for the feedback. Unfortunately, at this time such a feature is not supported.

I am curious to hear what is your particular use case for adding a custom component at the end and how would that work in terms of the MultiSelectComboBox?

BR,
Goran

[2020-10-19 19:33] gatanaso commented on #46
@Sryther Thanks for the feedback, I really appreciate it.

Regarding your issue, it looks same as the one that was opened here originally. Might be then that something has changed in the way Vaadin initialises the dialog. Which version did you upgrade to, have you tried with another one perhaps?

Also, in the spirit of keeping things a bit more organised, I'd kindly ask if you can open a new issue

[2020-10-19 19:44] nbabb commented on #73
I tried using the 2.5.0 version in our Vaadin 14.3.2 app running in compatibility mode.   Downgrading to 1.1.0 works, though as you say it is missing some features.

If we need to stay with Vaadin 14 (as the latest LTS version) that means we'd use 2.5.0 (assuming we can get off compatibility mode)?  If so, does 2.5.0 have most of the features available in the latest version?

With the 2.5.0 versio

[2020-10-19 21:06] allenvpn312 commented on #74
Hi @gatanaso,

Thank you for the quick reply.  I am currently using your multiselectcombobox to list and bind multiple tax rates.  I wanted to provide the user the ability to view the tax rates details by selecting a button.  This can be accomplish by including the multicombox and a button in a horizontal layout but I think it would be functionally better if the button was added to the end of the

[2020-10-20 07:09] gatanaso commented on #73
Yes, you would need to get off compatibility mode and use the Vaadin 14 version, which at the moment is `2.5.0`, and that one has all of the features that are currently supported by the component.

I believe the styling issues have been ironed-out, though not yet released. You can target the part inside the component as a temporary workaround. You can see an example here https://github.com/gatanas

[2020-10-20 07:13] gatanaso commented on #74
Hi @allenvpn312

Thanks for letting me know. I think your current approach of using the horizontal layout is good. Adding this functionality to the component itself is not something that would provide much benefits as the component is intended to be used as a multi selection component. Any other responsibilities should be introduced by extension or composition (as you have done in your case).

BR,

[2020-10-20 07:13] #74 closed

[2020-10-20 07:15] #73 closed

[2020-10-20 07:43] Sryther opened #77 "The component won't open in a Vaadin Dialog"
Original post: [#46 comment](https://github.com/gatanaso/multiselect-combo-box-flow/issues/46#issuecomment-707127682).

I could not achieve to display the multiselect like it did before a vaadin upgrade. It worked in the past and since I updated and switched to Material theme I had no luck with it.

I was using the version 14.1.25 and now the version 14.4.0. I tried the "intermediate" version 14.3

[2020-10-26 04:54] DykiSA commented on #71
Same issue happened after upgrading from 2.3.0 to 2.5.0, any workaround?

Screenshot:
![image](https://user-images.githubusercontent.com/17403009/97135097-eed3a580-1781-11eb-94e1-923462473ca1.png)

**EDIT**
After tried with fresh install of Vaadin 14, it run nicely and it have same version tho (testing with `2.4.2`).
Then inspecting the element both and found that the content of `vaadin-combo-box-

[2020-10-26 13:45] nbabb opened #78 "Overriding theme for sub elements"
We have certain global theme changes for input fields that are causing the multi-select component to have rendering issues.  I am able to affect styling up to a point, but am not able to remove the border on the input-field I indicate in this screencast https://prnt.sc/v5dgzo

My understanding, after discussing with Vaadin folks, is that I would need to use theme propogation  (as discussed here ht

[2020-10-27 06:55] DykiSA commented on #71
Fyi - this issue fixed if using spring boot `2.2.x`, in my app I am using spring boot `2.1.0` and for the fresh install above is using spring boot `2.2.0`. Also tried to use spring boot 2.1.0 in fresh install but no luck the issue appeared.

I am still stuck with that issue, current workaround is downgrading the `multiselect-combo-box-flow` to 2.3.0

[2020-10-31 17:10] olaf-2 commented on #66
Hi. Sorry for the late answer and for raising the issue in the wrong place. With Vaadin 17.0.8 there are no problems anymore.

[2020-11-01 09:05] #66 closed

[2020-12-03 14:01] nbabb commented on #78
Any update on this?

[2020-12-06 17:15] ireshmw commented on #44
If you are using Lombok, try to use Hash code and Equal on your class like bellow

[code]

`@EqualsAndHashCode(onlyExplicitlyIncluded = true)`  and    `@EqualsAndHashCode.Include`  important

[2021-01-26 11:37] kPlock opened #79 "The latest version (3.0.2) is not loaded"
To try out new features (like setCompactModeLabel), the Vaadin-Version in our pom.xml was raised to 18.0.5.

<img width="633" alt="Bildschirmfoto 2021-01-26 um 12 32 09" src="https://user-images.githubusercontent.com/13207847/105839984-8e4b4300-5fd2-11eb-986a-a8cfdaae0fdc.png">

In addition, the dependency was adjusted.

[code]

The correct jar package is also used - but the content always refers

[2021-01-29 09:06] #79 closed

[2021-01-31 06:54] syampillai commented on #71
Also, the same issue that @miloszszyrner mentioned happens if the component is initially not visible - `setVisitble(false)` - and then make it visible somewhere in the code later on.

[2021-02-10 14:47] thomasdewaelheyns opened #81 "Don't use Object.hashCode to generate keys in the keymapper"
In the MultiselectComboBoxDataCommunicator<T> extends DataCommunicator<T> a custom keymapper is implemented:
[code]

The createKey() generates what should be a unique internal code for the items of a MultiSelectComboBox. By using the hashcode of the object, this uniqueness is not guaranteed.

From the java 7 javadoc:
`It is not required that if two objects are unequal according to the equals(java.

[2021-02-10 22:31] gianluca-valentini opened #82 "SetValue does not check the items in the list view"
Hi,
I'm using last vaadin 14 LTS and v.2.5.0 multiselect version.
It works fine but when I use the setValue, the component set the item correctly in the textfield but does not check it in the list
Look this image
![image](https://user-images.githubusercontent.com/3224592/107581150-f1a2bb00-6bf7-11eb-81f5-f3fb5f09dea7.png)
I use a object render to show the item list.

I tried the 3.0.2 version but

[2021-02-26 15:20] jonathan97h opened #84 "Vaadin 18 - BUG when setting compact mode for combobox"
I'm using the MultiselectCombobox v.3.0.2 in Vaadin 18.0.5.

If you do `combobox.setCompactMode(true);` the combobox does not look as expected.

<img width="193" alt="multiselectCombobox bug" src="https://user-images.githubusercontent.com/79520891/109318680-5b54d300-784e-11eb-87b9-75683dfb8e5d.png">

[2021-03-22 06:52] gatanaso commented on #81
Hi @thomasdewaelheyns and thanks for raising this issue. Thanks to @aszalai, there is a PR that should resolve this issue #80. Unfortunately, I haven't had time yet to go over it yet, but I hope it helps.

[2021-03-31 16:04] martinisraelsen commented on #71
I'm on Spring boot 2.2.6.RELEASE and I'm experiencing this issue as well.

[2021-03-31 16:05] martinisraelsen commented on #56
I'm experiencing the same issue. I have the Multiselect combo box in a Div that initially it set to hidden. When I later make it visible the Combobox aren't showing any items.

[2021-04-03 06:15] ado2000 commented on #82
Same problem for me, is there a workaround ?
How the component check the equality on an object ?

[2021-04-05 08:12] ado2000 commented on #82
In my case solved overriding the hashCode() Method of my Object Class
`    @Override
    public int hashCode() {
        return key.hashCode();
    }
`

[2021-04-05 21:19] gianluca-valentini commented on #82
Hi @ado2000
can you explain it with an example?

[2021-04-06 20:37] ado2000 commented on #82
The component uses the hashCode to check the equality of one in the items respect the one set as values

So, you have to override the hashCode method in order to enable the component to select the proper object in the drop down list.

It depend on how you consider two objects equals.
In my case, my object is quite easy, I have a key an a value object, for me, if the key is the same, the object is

[2021-04-07 05:41] gianluca-valentini commented on #82
It's clear.
Thanks a lot

[2021-04-08 06:33] #82 closed

[2021-04-11 17:16] #35 closed

[2021-04-16 08:40] Scushy opened #85 "Vaadin 14 - BUG - Dropdown not defocusing on second click"
Hey Goran Atanasovski,

Its really a nice component, but I have some troubles with it in my Vaadin 14.5.1 project.
The dropdown which is displayed if you click(focus) on this field wont close anymore if you click on it again (defocus).
( I upgraded from 13 to 14).
It will close if you click on somethin around the field but not if you click the field again.

I know that its not a very bad issue (th

[2021-04-23 11:19] edgonzalezj opened #87 "Problem in Vaadin 19.0.4"
Init application and in javavascript console:
Uncaught (in promise) DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-text-field" has already been used with this registry at eval (webpack-internal:///../node_modules/multiselect-combo-box/node_modules/@vaadin/vaadin-text-field/src/vaadin-text-field.js:159:16) at Module.../node_modules/multiselect-combo-box/node_m

[2021-04-27 06:03] jcgueriaud1 commented on #87
To add more context:
- Vaadin 19 requires vaadin-text-field@3.0.2
- The component requires vaadin-text-field@^2.4.8

A major change (2 to 3) is done because of breaking change, in that case polymer 2 and IE11 support is dropped.

pnpm, the default in Vaadin 19, is solving the issue by picking 3.0.2 and it's working.
npm is not solving the issue.
The solution is to bump the version of the vaadin co

[2021-09-16 06:28] mvysny opened #91 "Placeholder should be hidden when a value is selected"
Hey Goran what's up? :-D

When you set a placeholder and the user selects a bunch of values, the placeholder should probably be hidden. That would be in line to ComboBox or TextField - if a value is selected or a text is typed, the placeholder is no longer shown.

This is the current behavior:

![Screenshot from 2021-09-16 09-26-15](https://user-images.githubusercontent.com/254091/133561018-d51039

[2021-10-24 14:56] McPringle opened #92 ""Cannot read property of undefined" with Vaadin 21 (Flow)"
I use this component in version 3.0.2 in a dialog. Prior to Vaadin 21 it worked, after I updated to Vaadin 21 the component is not displayed anymore and inside the browser, I got the following error message:

    (TypeError) : Cannot read property of undefined (reading 'confirm')

This error message is displayed eight times with different properties. I did the Vaadin Dance with no change. I tried

[2021-10-26 13:59] watho commented on #92
Could you please tell me if your package.json contains a line ` "multiselect-combo-box": "2.4.2"' `
Probably with another version.

Thx

[2021-10-27 15:43] McPringle commented on #92
I was able to track the error down:

To improve startup performance, I configured a package whitelist:

    vaadin.whitelisted-packages=org.komunumo

The problem is an incorrect namespace for this component. The namespace is `org.vaadin.gatanaso` but should be `org.vaadin.addons.gatanaso`, because the namespace `org.vaadin.addons` is scanned by default.

My workaround was to extend my whitelist:

[2021-11-24 17:31] urkl opened #93 "Split itemsLabelGenerator and valuesLabelGenerator"

[2021-11-24 17:32] #93 closed

[2021-11-24 21:17] thomaskiesl opened #94 "Component does not work with vaadin 22"
With Vaadin 21 it is working fine. With "22.0.0.beta3" I receive by calling "clean package -Pproduction -e -X" the following error. Other developer have also a problem to use it with Vaadin 22 (https://vaadin.com/directory/component/multiselect-combo-box).

[code]

[2021-12-08 12:39] mrgreywater commented on #94
The problem is documented here: https://github.com/gatanaso/multiselect-combo-box/issues/105#issuecomment-984646853

This line: https://github.com/gatanaso/multiselect-combo-box/blob/master/src/multiselect-combo-box.js#L6 needs to be replaced with

[code]

Since it's published as npm module, it's kinda difficult to hotfix yourself.

[2021-12-08 13:01] McPringle commented on #94
Nice! Have you tested it locally? Maybe you can create a PR for @gatanaso to merge? If you live in Europe, I'll buy you a 🍺!

[2021-12-08 13:09] arenk commented on #94
I've tried fixing that locally a couple days ago and the error above didn't show up anymore. However, the behavior of the MultiselectComboBox was weird (e.g. no items showing).

Given [a comment in the component discussion section](https://vaadin.com/directory/component/multiselect-combo-box/discussions) `Web-components have changed a lot in that 22 to reduce the tight coupling with polymer, impro

[2021-12-08 14:19] mrgreywater commented on #94
I think I was a little hasty. It compiles and runs with the updated path, but as @arenk said, it doesn't show any elements. Maybe I'll go and fix it later. My primary goal was to get everything to run at all with the new vaadin version at all.

[2021-12-08 19:45] thomaskiesl commented on #94
@mrgreywater  It is such a nice component! It would be great if you can have a look on it! Thanks in advance! :)

[2021-12-15 07:17] timbo86 opened #95 "Add additonal attribute or class to overlay"
We would like to style the items in a slighlty other way when inside a multiselect combo box. Therefore we would need something to tell the default and the multiselect combo box overlay apart when targeting with css selectors.

[2021-12-15 08:48] SebastianDietrich commented on #94
Goran mentioned that https://github.com/vaadin-component-factory/multiple-select might be an alternative...

[2021-12-15 11:46] mrgreywater commented on #94
@SebastianDietrich multiple-select also doesn't show the item list.

[2021-12-16 08:55] mvysny commented on #94
You're right, multiple-select doesn't work for me with Vaadin 22. Filed a bug ticket: https://github.com/vaadin-component-factory/multiple-select/issues/10

[2021-12-16 10:58] mvysny commented on #94
@stefanuebe mentioned a workaround at https://vaadin.com/directory/component/multiselect-combo-box/discussions . Quoting:

Update/place the `webpack.config.js` with the following content to make it -work- compile:

[code]

Unfortunately doesn't work for me:
[code]

[2021-12-16 11:13] thomaskiesl commented on #94
@mvysny The workaround only helped me to compile the component, but unfortunately the component does not work correctly. Only the combobox is shown but nothing happens by clicking on the component/arrow.

[2022-01-06 11:43] urkl commented on #94
It would be really great to have this great component on the road with latest Vaadin versions.

[2022-01-07 16:18] ttsanton commented on #94
Dropping in to also confirm that the workaround only helps to compile but not actually have the component usable. The combobox does not load in any of the items (you can't see anything in the dropdown) and you can't select anything.

I know it's been on the roadmap for a long time now - [as far back as 2015](https://github.com/vaadin/web-components/issues/1388) - but it's clear that this is an imp

[2022-01-12 12:51] osenbg commented on #94
Without a working solution it is unlikely that V22/23 will be usable by us ....

[2022-01-12 12:56] urkl commented on #94
I am sure that Goran will update this component.

[2022-01-12 16:08] zima91 opened #96 "Items not showing when using larger data"
Hello I am using version 2.5.0 of this library and 14.8.1 version of vaadin.
Combobox is loaded with 10000 strings:

        final List<String> a = IntStream.range(0, 10000).mapToObj(String::valueOf).toList();

        MultiselectComboBox<String> location = new MultiselectComboBox<>();
        location.setItems(a);

        add(location);

When Combobox is opened and **scrolled down using scrollba

[2022-01-18 08:51] kPlock commented on #96
Is there already a solution or a workaround?

[2022-01-18 15:44] zima91 commented on #96
I am just using older version of Vaadin for now.

[2022-01-19 14:16] osenbg commented on #96
Absolut urgent also for us.

[2022-01-24 07:28] stefanuebe commented on #94
https://twitter.com/gatanaso_/status/1485258649035583493

[2022-01-24 10:56] osenbg commented on #94
Very, very good news at the beginning of the week.
Waiting for a new release

[2022-02-01 11:21] arenk commented on #94
I've been playing around a bit with the flow part. In fact, two changes were sufficient to add (preliminary) Vaadin 22 support:

- MultiSelectComboBox.java: Change the NpmPackage version to 3.0.0-alpha
- multiselectComboBoxConnector.js: Revert [an update on how the component is initialized (line 19 + 78)](https://github.com/gatanaso/multiselect-combo-box-flow/commit/394d8c453f64551efe8c931297cbd80

[2022-02-01 12:03] arenk commented on #94
Another option might be to add the following line at the end of the constructor in MultiSelectComboBox.java instead of reverting the changes mentioned above in `multiselectComboBoxConnector.js`

`UI.getCurrent().getPage().executeJs("").then(result -> initDataConnector());`

This should make sure that the data connector is only initialized after the DOM tree is updated / component is loaded.
[Vaadi

[2022-02-09 14:24] gatanaso commented on #94
Hi everyone, I just published a new release candidate version that uses the latest web component and is compatible with Vaadin 22.
[code]
Please note, there might be some quirks, but hopefully this is enough to get you unblocked.

[2022-02-09 14:24] #94 closed

[2022-02-09 14:26] gatanaso commented on #92
Hi and thanks for opening this issue. I've just published the initial version of the component that should be compatible with Vaadin 22+ and uses the latest version of the web component. Could you please give it a try?
[code]

Closing this for now, but let me know if the issue is still happening.

BR,
Goran

[2022-02-09 14:30] gatanaso commented on #87
Hi, unfortunately the component was not updated to work with this particular version of Vaadin. I have just now published an initial version that supports Vaadin 22+. Hopefully you find it useful. 🙏

[2022-02-09 14:49] gatanaso commented on #84
Hi @jonathan97h, thanks for reporting this issue. The component had not been updated for that particular version of Vaadin. I believe that you could override the styles in your project to get rid of the border. However, as I have recently published a new version that supports Vaadin 22+, I would recommend if possible that you update to that one.

BR

[2022-02-09 14:49] #84 closed

[2022-02-09 14:50] gatanaso commented on #91
Hi @mvysny,  thanks for reporting this issue :)

Could you please give it a try with the latest release candidate version `4.0.0-rc1` and let me know if this still happens?

Thanks.

[2022-02-09 15:00] gatanaso commented on #95
Hi @timbo86, could you check if the latest version for Vaadin 22+ provides what you are looking for?

[2022-02-09 15:03] #57 closed

[2022-02-09 15:53] osenbg commented on #96
This issue also exists in 4.0.0-rc1 and showstopped us to use the new Version

@gatanaso can you look at this. Other checks until now are fine

Seems to be that these lines are the problem

https://github.com/gatanaso/multiselect-combo-box-flow/blob/2060e8007d655368670229e3e6858d67b18dad81/src/main/resources/META-INF/resources/frontend/multiselectComboBoxConnector.js#L65

https://github.com/gatana

[2022-02-09 16:49] gatanaso commented on #96
Hi @osenbg, if you are using `4.0.0-rc1` with Vaadin 22+, then you can specify a larger page size (default is 50) when initializing the component, for example:
`MultiselectComboBox<String> location = new MultiselectComboBox(1000);`
This will ensure the requested pages are not out of the valid range.

[2022-02-09 16:51] McPringle commented on #94
Thank you very much @gatanaso! For my flow project, I can confirm that it works as expected.

[2022-02-09 16:55] McPringle commented on #92
The error is still present. Please note that this is not related to Vaadin version 22, but to the `vaadin.whitelisted-packages` configuration option in the `application.properties` file. As I mentioned above, the namespace of this component is `org.vaadin.gatanaso` but should be `org.vaadin.addons.gatanaso` (as with all the other components and mentioned in the Vaadin docs) to work well when the `

[2022-02-09 17:17] osenbg commented on #96
Hi Goran,

thanks for the hint.
We will try this

Stefan

[2022-02-09 17:37] gatanaso commented on #92
@McPringle Ah ye, my bad, you are correct 😄 Updating the namespace would make sense to ensure things work 'out of the box'. Thank you for the detailed investigation and explanation.

[2022-02-09 21:10] gatanaso commented on #81
Closing this issue, as with the merge of #80 there is now a possibility to introduce a custom unique key data generator.

[2022-02-09 21:10] #81 closed

[2022-02-09 22:23] gatanaso commented on #96
@zima91 After investigating, it appears the issue might lie in the `DataCommunicator` class in `flow-data-2.7.7.jar` from Vaadin 14.8.1 which looks like:
[code]

And the `MAXIMUM_ALLOWED_ITEMS` is set to `1000`.

This piece of code looks different from previous versions of `flow-data`, i.e. from `2.0.12` it looks like:
[code]

And in the latest versions of `flow-data` it looks like: https://github

[2022-02-09 22:23] #96 closed

[2022-02-16 06:28] mvysny commented on #91
Hi Goran, sorry I was not able to test the addon. The minute I add multiselect-combo-box-flow to even a simple project, Vaadin crashes client-side with `NotSupportedError: CustomElementRegistry.define: 'vaadin-lumo-styles' has already been defined as a custom element`. I've tried both 4.0.0-rc1 and 4.0.0-rc2, plus Vaadin 23.0.0.beta2 :thinking:

[2022-02-16 09:18] gatanaso commented on #91
Thanks for the feedback Martin. May I ask which version of Vaadin did you try with?

[2022-02-16 09:19] mvysny commented on #91
Sure, thanks Goran, I tried Vaadin 23.0.0.beta1 and 23.0.0.beta2

[2022-02-16 09:26] gatanaso commented on #91
Okay, thanks for the update 🙏  I haven't checked with Vaadin 23 yet, 22 has worked well so far at least.

[2022-02-16 09:30] mvysny opened #99 "Using the component with Vaadin 23 gives NotSupportedError: CustomElementRegistry.define: 'vaadin-lumo-styles' has already been defined as a custom element."
Hi Goran, thank you so much for the component :)

I've tried to use the MultiselectComboBox component version 4.0.0-rc1 and 4.0.0-rc2 with Vaadin 23.0.0.beta1 and 23.0.0.beta2, and in all cases the client-side fails to load with:

[code]

I'm not sure whether the issue is on Vaadin's side or the integration side; it could be that multiple versions of vaadin-lumo-styles are being pulled in. Would y

[2022-02-16 09:31] mvysny commented on #91
Oh, I'm sorry about that, I'll test with Vaadin 22, thank you :) I've filed the `NotSupportedError` as a separate ticket, let's ignore it here: #99

[2022-02-16 09:40] mvysny commented on #91
Thank you, I've tested the component 4.0.0-rc2 with Vaadin 22 and indeed the placeholder is hidden. Thanks a ton for fixing this!

[2022-02-16 09:40] #91 closed

[2022-02-18 15:59] mperktold opened #100 "Implement standard HasLabel interface"
There is a common interface `com.vaadin.flow.component.HasLabel`, which is now implemented by all major flow components.

See [vaadin/flow#3241](https://github.com/vaadin/flow/issues/3241) and [vaadin/flow-components#956](https://github.com/vaadin/flow-components/issues/956).

The interface is compatible with the signatures of `getLabel` and `setLabel`. It's just a matter of declaring that `Multis

[2022-03-18 14:51] CrisVnait opened #101 "Vaadin 14 - version 2.5.0 - Custom Values are not returned by getValue and getSelectedItems"
I enabled adding custom values like:
[code]

If I try to get values (via binder) it returns an empty list. Here v is during all states an empty collection.
[code]

Expected behavior is that custom values are returned.

[2022-03-18 14:54] CrisVnait opened #102 "Vaadin 14 - version 2.5.0 - Smaller height in readOnly mode with empty value"
We found a little bug: in the readOnly mode with empty value, the height is smaller (see picture).
Expected is the height like in normal mode or readOnly with values.
![multiselect](https://user-images.githubusercontent.com/22811127/158544065-3d553a48-ac56-4e9a-97c8-dd457d41948c.JPG)

[2022-04-04 13:28] paodb opened #103 "Dropdown doesn't display when switching from setEnabled(false) to setEnabled(true)"
If I initialize the combobox with setEnabled(false), when trying to switch to setEnabled(true), the dropdown is not displaying. Here's an example to reproduce the issue:

[code]

Vaadin version: 23.0.1
Component version: 4.0.0-rc2

[2022-04-29 07:10] lmorocz commented on #96
Hi @gatanaso!

Unfortunately the `pageSize` workaround doesn't work with the last LTS Vaadin v14 version (14.8.9) because as You already mentioned it has `MAXIMUM_ALLOWED_ITEMS` set to `1000`, and not depends on `pageSize`.

Right now when we try to display more than 1000 elements in MultiselectComboBox with slow or fast scrolling to the end, the `Attempted to fetch more items from server than all

[2022-04-29 16:27] andrew-pane opened #104 "Allow user text to be automatically cleared when an item is selected, else manually cleared via API?"
When filtering text is entered by the user, is there a way to clear out their text when they choose an item from the list, either automatically or via an API call?

For example, I type "Andrew" and pick my name from the list, but "Andrew" still hangs around in the input text unless I tab away from the dialog and come back. I would like to clear that text as soon as the user selects an item from th

[2022-05-03 13:13] watho commented on #99
I can say, that 4.0.0-rc2 on Vaadin 23.0.8 works. I had the same error. Switching from pnpm to npm and deleting the node_modules folder fixed it for me.

[2022-05-10 13:32] majid-makki opened #105 "Item selected by clicking outside the component"
Hello,

I've recently noticed a strange behavior which I think is not expected. When typeahead filtering hits exactly one item and the user **_clicks_** outside the component, that one item is automatically selected. This undesired item selection doesn't take place if the typeahead filtering hits more than one item.

Even though, it's a minor thing, it would be nice if you can fix it.

[2022-06-29 10:22] gidravlic opened #106 "Js error this.$.comboBox.$.dropdown._setOverlayWidth"
Hello!
I have tried use your component with latest vaadin(23.1.2) and in chrome console error constantly appearing:
``
multiselect-combo-box.js?48c8:481 Uncaught TypeError:
Uncaught TypeError: this.$.comboBox.$.dropdown._setOverlayWidth is not a function
``

[2022-07-22 09:43] vexa commented on #103
This issue is also relevant for me and i hope this will fix very soon.

[2022-07-22 11:58] vexa commented on #103
I have an Solution that works for me. The trick is that the webcomponent calls Client Callable when it is Ready.
First i set the  enabled state to true. This is needed that the Component renders correct. Wehn the Component is ready in Dom i set the Enabeld state.

`public class MultiselectComboBoxExt<T> extends MultiselectComboBox<T> implements HasLabel {

  private boolean enabledState;
  private

[2022-11-03 14:17] rokkolesa commented on #96
This is the exact situation we're in right now.
I see that the `setRequestedRange` method gets called in `multiselectComboBoxConnector.js` with the `start` parameter always on 0:

[code]

Shouldn't the `start` parameter be the offset and `length` the page size?